.contenedor-calendario {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    border: 5px solid yellow;
    border-radius: 12px;
    width: auto;
    gap: 100px;
    margin: 40px;
    padding: 20px;
}

.contenedor-inputs {
    background-color: rgb(245, 243, 240);
    border: 5px solid yellow;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 50px;
}

.boton-subir-partidos {
    height: 40px;
    width: 80px;
}

.partidos {
    background-image: url("/public/images/fondo-partidos.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    width: 80%;
    justify-content: center;
    justify-items: center;
}

.lista-partidos {
    gap: 5px;
    width: 50%;
    background-image: url("/public/images/cenizas.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 50px;
    justify-items: center;
    margin: 30px;
}

.datos-patido {
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: white;
}

.equipos-partido {
    display: flex;
    gap: 50px;
    font-size: 35px;
    color: white;
    align-items: center;
}

.vs {
    color: yellow;
    font-size: 3vw; /* Se ajusta según el ancho de la pantalla */
    text-align: center;
}

.escudo {
    height: auto;
    max-height: 120px;
    width: auto;
    max-width: 25vw; /* Escala con el ancho de la pantalla */
}

@media (max-width: 768px) {
    .equipos-partido {
        flex-direction: column;
        gap: 20px;
        font-size: 25px;
    }

    .datos-patido {
        flex-direction: column;
        gap: 5px;
        font-size: 20px;
        align-items: center;
    }

    .lista-partidos {
        width: 90%;
        padding: 20px;
        margin: 15px;
    }

    .escudo {
        max-height: 80px;
        max-width: 40vw;
    }

    .vs {
        font-size: 6vw;
    }
}
